/*Homepage*/

.dark body{
    background-color: black;
    color: white;
}

body{
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: rgb(233, 233, 233);
    margin: 0;
}
/* logo */
.dark .header{
    border-bottom: solid 1px white;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
}
header img{
    border-radius: 20px;
}

/* NAVIGATION */
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.dark .nav-con{
    padding: 1rem;
    background-color: black;
    opacity: .8;
}
.light .nav-con{
    padding: 1rem;
    background-color: white;
    opacity: .8;
}

.navigation ul{
    display: grid;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.dark .nav-con a{
    text-decoration: none;
    color : white;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.light .nav-con a{
    text-decoration: none;
    color : black;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.navigation ul li a:hover{
    background-color: gray;
    color: black;
}
/* 
.search{
    position: relative;
    display: inline-block;
  }
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color:black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .search:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  } */
/* top home  */





img{
    max-width: 100%;
}
.home-con{
    display: grid;
    margin-bottom: 2rem;
}
.main-home{
    background: url(../img/backgroundguitar.png);
    background-size: cover;
    background-position: center;
    background-size: cover;
    min-height: 400px;
    padding: 13rem 0rem;
}
.main-home .title h1{
    margin-top: 15rem;
    font-size: 70px;
    color: black;
    background-color: white;
    border-radius: 20px;
}
/************Image gallery********************/
.image-gallery{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    margin: 2rem;
}
.image-gallery h2{
    text-align: center;
}
.gallery-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}
.gallery-container img{
    height: 250px;
    width: 2500px;
}
.light .img-con{
    border: black 1px solid;
}
.dark .img-con{
    border: white 1px solid;
}
.gallery-container h1 , p {
    margin: 1rem;
}

/************Contact section*******************/
.contact{
    /* display: grid;
    grid-template-rows: repeat(3, 1fr) ;
    align-items: center;
    justify-items: center; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
.contact-con{
    padding: 1rem;
}
.contact-con input{
    width: 400px;
    height:3rem;
}
.message input{
    width: 809px;
    height: 200px;
    margin-bottom: 1rem;
    text-align: left;
}
.btn-submit button{
    border: none;
    outline: none;
    background-color: black;
    padding: .5rem;
    color: white;
    
}
/* ---------About section------------- */

.about-con{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-desc{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/* footer */

.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: black;
    color: white;
    height: 200px;
    justify-items: center;
    align-items: center;
    margin-top: 2rem;
  
 }
 .dark .footer{
    border-top: white 1px solid;
 }
 .footer h1{
     font-size: 15px;
 }
 .footer-con{
     text-align: center;
 }
/* media queries */
@media (max-width: 700px){
    .gallery-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 500px) {
    .navigation ul {
        grid-template-columns: 1fr 1fr; 
        grid-gap: 1rem;
      }
     .navigation a{
         padding: .5rem;
         width: 300px;
         text-align: center;
     }
     .gallery-container{
         grid-template-columns: 1fr;
     }
     .message input{
        width: 400px;
        height: 200px;
        margin-bottom: 1rem;
        text-align: left;
    }
  }